:root {
  --primary: #a9d8e6;
  --primary-100: #e2efff;
  --primary-500: #2c5866;

  --secondary: #e99a70;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  line-height: 1.5;
  font-size: 1.5;
  font-family: 'Lato', sans-serif;
}

header {
  display: inline-flex;
  z-index: 1;
  width: 100%;
  position: fixed;
  height: 5rem;
  align-items: center;
  justify-content: space-between;
  top: 0;
  background-color: var(--primary-500);
  color: white;
}

main {
  background-color: var(--primary);
  min-height: 100vh;
  overflow: auto;
  padding-bottom: 10rem;
}

section {
  position: relative;
  top: 5rem;
  padding: 1% 2%;
}

footer {
  width: 100%;
  background-color: var(--primary-500);
  color: white;
  text-align: right;
  position: absolute;
  bottom: 0;
  padding: 1% 2%;
}
