.about-me {
  display: inline-flex;
  align-items: center;
  gap: 6rem;
  padding: 0 10rem;
}

.about-text {
  text-align: right;
}

.portrait {
  align-self: center;
  width: 24%;
  height: 76%;
  border-radius: 25%;
  box-shadow: 8px 8px 10px var(--primary-500);
  animation: shootIn 1500ms ease-out;
}

.experience {
  padding: 1rem 8rem;
}

.experience-jobs {
  display: flex;
  justify-content: space-between;
}

.job-box {
  width: 330px;
  padding: 1rem;
  background: var(--primary);
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 1px 1px 3px var(--primary-500);
}

.job-company,
.job-time,
.job-location {
  margin: 0;
  font-size: 1.1rem;
}

@keyframes shootIn {
  0% {
    transform: translateX(100vw);
  }
  50% {
    transform: translateX(4rem) scale(1.1) rotate(10deg);
  }
  100% {
    transform: translateX(1);
  }
}

@media only screen and (max-width: 768px) {
  .about-me {
    flex-direction: column-reverse;
    padding: 0 1rem;
    gap: 1rem;
  }

  .about-text {
    text-align: center;
  }

  .portrait {
    width: 50%;
    height: 50%;
  }

  .experience {
    padding: 1rem;
  }

  .experience-jobs {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
