#contact {
  padding-bottom: 5rem;
}

#contact a {
  color: #000000;
  font-size: 1.25rem;
  text-decoration: none;
}

#contact img {
  height: 2.5rem;
  position: relative;
  top: 0.4rem;
  margin-left: 0.3rem;
}

#contact img:hover,
.contacticons a:hover > img {
  transform: scale(1.125);
}

#contact-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#contact-wrapper h4 {
  margin-top: 0;
}

#contact-wrapper input {
  margin: 0.6rem;
  width: 40%;
}

#contact-wrapper textarea {
  margin-top: 0.6rem;
}

.contacticons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  margin: auto 5rem;
  font-size: 1.125rem;
}

.contacticons a:hover > * {
  color: var(--primary-500);
}

#form {
  margin-left: 2rem;
}

@media only screen and (max-width: 768px) {
  #contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  #contact-wrapper input {
    width: 55%;
  }

  #contact-wrapper textarea {
    width: 80%;
  }

  .contacticons {
    align-items: center;
    margin: auto;
  }
}
