#contact {
  padding-bottom: 50px;
}

#contact a {
  background-color: var(--primary);
  color: #000000;
  font-size: 20px;
  text-decoration: none;
}

#contact img {
  height: 40px;
  background-color: var(--primary);
  position: relative;
  top: 6px;
  left: 3px;
  margin-right: 2px;
}

.contacticons {
  display: flex;
  width: 90%;
  justify-content: space-around;
  margin: auto;
  font-size: 18px;
}

.contacticons a:hover > * {
  color: var(--primary-500);
}

@media only screen and (max-width: 768px) {
  #contact i {
    font-size: 46px;
  }
}
