#contact {
  padding-bottom: 5rem;
}

#contact a {
  color: #000000;
  font-size: 1.25rem;
  text-decoration: none;
}

#contact img {
  height: 2.5rem;
  position: relative;
  top: 0.4rem;
  margin-right: 0.1rem;
}

#contact img:hover,
.contacticons a:hover > img {
  transform: scale(1.125);
}

.contacticons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 90%;
  margin: auto;
  font-size: 1.125rem;
}

.contacticons a:hover > * {
  color: var(--primary-500);
}
